.container {
    color: white;
    background-color: rebeccapurple;
}

.none {
    visibility: hidden;
}

.black {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: black;
    animation: black 1s infinite;
}

.green {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: green;
    animation: green 1.5s 1s infinite;
}

.red {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: red;
    animation: red 1s infinite;
}

.skull {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-image: url(../img/480.png);
    background-repeat: no-repeat;
    background-size: cover;
    animation: skull 1s infinite;
}

@keyframes red {
    0% {
        background: red;
    }
    50% {
        background: cyan;
    }
    100% {
        background: red;
    }
}

@keyframes green {
    0% {
        background: green;
    }
    50% {
        background: silver;
    }
    100% {
        background: green;
    }
}

@keyframes black {
    0% {
        background: black;
    }
    50% {
        background: yellow;
    }
    100% {
        background: black;
    }
}

@keyframes skull {
    50% {
        transform: rotate(-90deg)
    }
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(15deg)
    }
    /*50% {
        transform: rotate(180deg)
    }
    50% {
        transform: rotate(270deg)
    }
    100% {
        transform: rotate(0deg)
    }*/
}